In [4]:
TEST_VARIABLE = "Hello world, again"
print(TEST_VARIABLE)

Hello world, again

# Test Markdown
> Hello world

To Render the MD, look to the hovering box with a check at the top-right of this MD box.

In [8]:
import pandas

# I renamed the unzipped file to "data", just so you aren't confused why it's /data/Denver here
data_frame = pandas.read_csv("./raw_data/data/Denver-2014-2022.csv")
data_frame.tail()

/var/folders/md/1xz5drd50z96gpjrgwbcxld00000gn/T/ipykernel_11393/4259876331.py:4: DtypeWarning: Columns (35,42,50,52,56,57,74,76,90) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frame = pandas.read_csv("./raw_data/data/Denver-2014-2022.csv")

,STATION,DATE,REPORT_TYPE,SOURCE,AWND,BackupDirection,BackupDistance,BackupDistanceUnit,BackupElements,BackupElevation,...,ShortDurationPrecipitationValue045,ShortDurationPrecipitationValue060,ShortDurationPrecipitationValue080,ShortDurationPrecipitationValue100,ShortDurationPrecipitationValue120,ShortDurationPrecipitationValue150,ShortDurationPrecipitationValue180,Sunrise,Sunset,WindEquipmentChangeDate
124953,72565003017,2022-12-31T22:53:00,FM-15,7,NaN,NaN,NaN,NaN,"SNOWFALL, SNOWDPTH",5360,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005-09-12
124954,72565003017,2022-12-31T23:00:00,FM-12,4,NaN,NaN,NaN,NaN,"SNOWFALL, SNOWDPTH",5360,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005-09-12
124955,72565003017,2022-12-31T23:53:00,FM-15,7,NaN,NaN,NaN,NaN,"SNOWFALL, SNOWDPTH",5360,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005-09-12
124956,72565003017,2022-12-31T23:59:00,SOD,6,NaN,NaN,NaN,NaN,"SNOWFALL, SNOWDPTH",5360,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,720.0,1644.0,2005-09-12
124957,72565003017,2022-12-31T23:59:00,SOM,6,10.7,NaN,NaN,NaN,"SNOWFALL, SNOWDPTH",5360,...,0.11,0.14,0.19,0.22,0.26,0.31,0.35,NaN,NaN,2005-09-12