In [4]:
TEST_VARIABLE = "Hello world, again"
print(TEST_VARIABLE)

Hello world, again

# Test Markdown
> Hello world

To Render the MD, look to the hovering box with a check at the top-right of this MD box.

In [13]:
import pandas

# I renamed the unzipped file to "data", just so you aren't confused why it's /data/Denver here
data_frame = pandas.read_csv("./raw_data/data/Denver-2014-2022.csv")
data_frame.tail()

                       DATE HourlyDryBulbTemperature
0       2014-01-01T00:53:00                       38
1       2014-01-01T01:53:00                       36
2       2014-01-01T02:00:00                       36
3       2014-01-01T02:53:00                       36
4       2014-01-01T03:53:00                       41
...                     ...                      ...
124953  2022-12-31T22:53:00                       29
124954  2022-12-31T23:00:00                       29
124955  2022-12-31T23:53:00                       28
124956  2022-12-31T23:59:00                      NaN
124957  2022-12-31T23:59:00                      NaN

[124958 rows x 2 columns]

'\nI think it would be good to start dealing with just data and HourlyDryBulbTemperature at first.\n\n'

In [22]:
import pandas as pd

'''
To keep it simple at first. I think it would be good to start with just data and HourlyDryBulbTemperature.
Eventually we would want to use: humidity, precipitation, wind speed, air pressure and more variables.
'''

#Have to do full path on my machine
data = pd.read_csv("C:/Users/ramosv/Desktop/GitHub/Weather-Prediction-Model/raw_data/Weather Prediction Raw Data/Denver-2014-2022.csv", usecols=["DATE","HourlyDryBulbTemperature"])
print(data) # prints head and tail

#Turning DATE to a date object
data['DATE'] = pd.to_datetime(data['DATE'])
print(data)

#Handeling missing data values by interpolating or last know value
'''
For sequential data it makes sense to use interpolation

Example:
If we are missing data for temperature at 1:00pm, but we have 12:00pm = 20F and 2:00 = 22F
Then we can fill in the data at 1:00pm to 21F
Fills in data based on surrounding data points

First, try Interpolate
Second, Last Known Value

'''
data['HourlyDryBulbTemperature'].interpolate(inplace=True)

data['HourlyDryBulbTemperature'].fillna(method='ffill', inplace=True)

data.tail()

                       DATE HourlyDryBulbTemperature
0       2014-01-01T00:53:00                       38
1       2014-01-01T01:53:00                       36
2       2014-01-01T02:00:00                       36
3       2014-01-01T02:53:00                       36
4       2014-01-01T03:53:00                       41
...                     ...                      ...
124953  2022-12-31T22:53:00                       29
124954  2022-12-31T23:00:00                       29
124955  2022-12-31T23:53:00                       28
124956  2022-12-31T23:59:00                      NaN
124957  2022-12-31T23:59:00                      NaN

[124958 rows x 2 columns]
                      DATE HourlyDryBulbTemperature
0      2014-01-01 00:53:00                       38
1      2014-01-01 01:53:00                       36
2      2014-01-01 02:00:00                       36
3      2014-01-01 02:53:00                       36
4      2014-01-01 03:53:00                       41
...                    ...                      ...
124953 2022-12-31 22:53:00                       29
124954 2022-12-31 23:00:00                       29
124955 2022-12-31 23:53:00                       28
124956 2022-12-31 23:59:00                      NaN
124957 2022-12-31 23:59:00                      NaN

[124958 rows x 2 columns]

                      DATE HourlyDryBulbTemperature
124953 2022-12-31 22:53:00                       29
124954 2022-12-31 23:00:00                       29
124955 2022-12-31 23:53:00                       28
124956 2022-12-31 23:59:00                       28
124957 2022-12-31 23:59:00                       28

In [31]:
# Reading all files into dataframes

import pandas as pd
import os

files = ['Alamosa-2003-2012.csv','Denver-2003-2012.csv','Grand-2003-2012.csv','Springs-2003-2012.csv']
path = "C:/Users/ramosv/Desktop/GitHub/Weather-Prediction-Model/raw_data/Weather Prediction Raw Data/"

frames = []

for file in files:
    #print(path+file)
    frame = pd.read_csv(path+file,usecols = ["DATE","HourlyDryBulbTemperature"])
    frame['DATE'] = pd.to_datetime(frame['DATE'])
    frame['HourlyDryBulbTemperature'].interpolate(inplace=True)
    frame['HourlyDryBulbTemperature'].fillna(method='ffill', inplace=True)
    frame['HourlyDryBulbTemperature'].fillna(method='bfill', inplace=True)
    frames.append(frame)

print(frames)

C:\Users\ramosv\AppData\Local\Temp\ipykernel_18160\1695616801.py:13: DtypeWarning: Columns (44) have mixed types. Specify dtype option on import or set low_memory=False.
  frame = pd.read_csv(path+file,usecols = ["DATE","HourlyDryBulbTemperature"])

[                      DATE HourlyDryBulbTemperature
0      2003-01-01 00:00:00                       18
1      2003-01-01 00:52:00                       18
2      2003-01-01 01:00:00                       18
3      2003-01-01 01:52:00                       19
4      2003-01-01 02:00:00                       19
...                    ...                      ...
132590 2012-12-31 22:52:00                        7
132591 2012-12-31 23:00:00                        7
132592 2012-12-31 23:52:00                        6
132593 2012-12-31 23:59:00                        6
132594 2012-12-31 23:59:00                        6

[132595 rows x 2 columns],                       DATE HourlyDryBulbTemperature
0      2003-01-01 00:02:00                       32
1      2003-01-01 00:53:00                       32
2      2003-01-01 01:46:00                       32
3      2003-01-01 01:53:00                       32
4      2003-01-01 02:53:00                       32
...                    ...                      ...
133869 2012-12-31 13:53:00                       22
133870 2012-12-31 14:00:00                       22
133871 2012-12-31 14:53:00                       21
133872 2012-12-31 15:53:00                       21
133873 2012-12-31 16:53:00                       20

[133874 rows x 2 columns],                       DATE HourlyDryBulbTemperature
0      2003-01-01 00:00:00                     29.0
1      2003-01-01 00:53:00                     29.0
2      2003-01-01 01:00:00                     29.0
3      2003-01-01 01:53:00                     28.0
4      2003-01-01 02:00:00                     28.0
...                    ...                      ...
127409 2012-12-31 22:53:00                        6
127410 2012-12-31 23:00:00                        6
127411 2012-12-31 23:53:00                        7
127412 2012-12-31 23:59:00                        7
127413 2012-12-31 23:59:00                        7

[127414 rows x 2 columns],                       DATE HourlyDryBulbTemperature
0      2003-01-01 00:00:00                     31.0
1      2003-01-01 00:54:00                     31.0
2      2003-01-01 01:00:00                     31.0
3      2003-01-01 01:54:00                     31.0
4      2003-01-01 02:00:00                     31.0
...                    ...                      ...
124556 2012-12-31 22:54:00                     15.0
124557 2012-12-31 23:30:00                     16.0
124558 2012-12-31 23:54:00                     15.0
124559 2012-12-31 23:59:00                     15.0
124560 2012-12-31 23:59:00                     15.0

[124561 rows x 2 columns]]

C:\Users\ramosv\AppData\Local\Temp\ipykernel_18160\1695616801.py:13: DtypeWarning: Columns (44) have mixed types. Specify dtype option on import or set low_memory=False.
  frame = pd.read_csv(path+file,usecols = ["DATE","HourlyDryBulbTemperature"])